/** WRITE YOUR OWN CUSTOM CSS CODE */
.onboarding-steps {
  display: block;
  overflow: hidden;
  min-height: 30px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-image: url('../images/step-line.svg'), url('../images/step-default.svg');
  background-position: 9px 25px, 0px 0px;
  background-size: 2px, 20px;
  background-repeat: no-repeat, no-repeat;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #404250;
  font-weight: 400;
  text-decoration: none;
}

.onboarding-steps:hover {
  color: #808292;
}

.onboarding-steps.w--current {
  background-image: url('../images/step-line.svg'), url('../images/step-active.svg');
  color: #ebedf0;
}

.onboarding-steps.passed {
  background-image: url('../images/step-line.svg'), url('../images/step-passed.svg');
}

.onboarding-steps.last {
  background-image: url('../images/step-default.svg');
  background-position: 0px 0px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.onboarding-steps.last.w--current {
  background-image: url('../images/step-active.svg');
}

.onboarding-steps-container {
  width: 100%;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 5rem 2rem 5rem;
}

.text-animation{
  font-size: 2.5em;
  text-shadow: 0px 0px 10px;
  animation: animate 2s infinite linear;
}

@keyframes animate {

  0%,
  100%{
    color: rebeccapurple;
  }
  50%{
    color: dodgerblue;
  }
  75%{
    color: white;
  }
}